RewriteEngine on
RewriteRule .*\.svn/.* - [F]
RequestHeader append X-UA-Compatible IE=edge
AddType text/x-component .htc
RedirectMatch 301 sigma/comments(.*) comments/$1
Options -Indexes
Header set X-Robots-Tag "noindex, nofollow"