@charset "utf-8";

td,td a{
	line-height:10px;
}
td a{
	padding:0 20px 0 20px;
}
.view .hmcmenu,.export .hmcmenu{
	display:block;
}
.col div div{
	left:2px;
}
html,body{
	height:auto;
}
.hmdata{
	margin-left:0;
}